.updateForm{
    width: 30%;
    margin: 4% auto;
    background: #F09819;
    height: 380px;
    border-radius: 15px;
    padding:3% 
}

.successDisplay{
    width: 30%;
    margin: 4% auto;
    background: #F09819;
    height: 180px;
    border-radius: 15px;
    padding:3% 
}